// colors.scss
$primary-color: #f24e1e;
$primary-hover: #d1421b;
$background-dark: #191f1f;
$text-light: rgba(255, 255, 255, 0.46);
$text-primary: #f24e1ee6;
$border-color: #ffffff20;
$gradient-bg: linear-gradient(113deg, #999 6.47%, #fff 93.44%);