@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ededed;
  --foreground: #000606;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000606;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Inter, Helvetica, sans-serif;
}


input[type='password'] {
  font-family: Verdana, sans-serif;
}